<script src="https://unpkg.com/gojs/release/go-debug.js"></script>

<h1>Game details</h1>

{{#each games}}
  <h4>{{game.name}}</h4>

  <label>Cover:</label><br>
  <img src="{{t_cover_big game.cover.url}}"><br>
  <label>First Release date: </label><p>{{toDate game.first_release_date}}</p><br>
  <p>{{game.summary}}</p><br>

  <label>Popularity:</label><p>{{game.popularity}}</p><br>
  <label>Rating:</label><p>{{game.total_rating}}</p><br>

  <label>Genres:</label><br>
  {{#each game.genres}}
    <label>{{name}}</label>
  {{/each}}
  <br>

  <label>Involved Companies:</label><br>
  {{#each game.involved_companies}}
    <label>{{company.name}}</label><br>
    <label>{{company.country}}</label><br>
    <img src="{{company.logo.url}}"><br>
  {{/each}}
  <br>

  <label>Platforms:</label><br>
  {{#each game.platforms}}
    <label>{{slug}}</label>
  {{/each}}
  <br>

  <label>Screenshots:</label><br>
  {{#each game.screenshots}}
    <img src="{{t_cover_big url}}" alt="">
  {{/each}}
  <br>

  <label>Videos:</label><br>
  {{#each game.videos}}
  <video width="300" height="200" controls>
    <source src="{{youtube video_id}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  {{/each}}

  <br>
  <br>
  <br>
  <label>TIME LINE</label>
  {{!-- {{#each (sortTimeLine game.collection.games)}}
      <h4>{{name}}</h4>
      <label>Cover:</label><br>
      <img src="{{cover.url}}"><br>
      <label>First Release date: </label>
      <p>{{toDate first_release_date}}</p><br>
  {{/each}} --}}

{{/each}}

<div id="myDiagramDiv" style="border: solid 1px black; height: 250px">
  <script>

    function timeLine(arr) {
      var $ = go.GraphObject.make; // for conciseness in defining templates
      var model = $(go.TreeModel);
      model.nodeDataArray = arr;

      myDiagram = $(
        go.Diagram,
        "myDiagramDiv", // must be the ID or reference to div
        {
          maxSelectionCount: 1, // users can select only one part at a time
          validCycle: go.Diagram.CycleDestinationTree, // make sure users can only create trees

          layout: $(go.TreeLayout, {
            treeStyle: go.TreeLayout.StyleLastParents,
            arrangement: go.TreeLayout.ArrangementHorizontal,

            // properties for most of the tree:
            angle: 180,
            layerSpacing: 35,

            // properties for the "last parents":
            alternateAngle: 180,
            alternateLayerSpacing: 40,
            alternateAlignment: go.TreeLayout.AlignmentBus,
            alternateNodeSpacing: 30
          }),
          "undoManager.isEnabled": true // enable undo & redo
        }
      );

      var levelColors = [
        "#AC193D",
        "#2672EC",
        "#8C0095",
        "#5133AB",
        "#008299",
        "#D24726",
        "#008A00",
        "#094AB2"
      ];

      // override TreeLayout.commitNodes to also modify the background brush based on the tree depth level
      myDiagram.layout.commitNodes = function () {
        go.TreeLayout.prototype.commitNodes.call(myDiagram.layout); // do the standard behavior
        // then go through all of the vertexes and set their corresponding node's Shape.fill
        // to a brush dependent on the TreeVertex.level value
        myDiagram.layout.network.vertexes.each(function (v) {
          if (v.node) {
            var level = v.level % levelColors.length;
            var color = levelColors[level];
            var shape = v.node.findObject("SHAPE");
            if (shape)
              shape.fill = $(go.Brush, "Linear", {
                0: color,
                1: go.Brush.lightenBy(color, 0.05),
                start: go.Spot.Left,
                end: go.Spot.Right
              });
          }
        });
      };

      // This function provides a common style for most of the TextBlocks.
      // Some of these values may be overridden in a particular TextBlock.
      function textStyle() {
        return { font: "9pt  Segoe UI,sans-serif", stroke: "white" };
      }

      // define the Node template
      myDiagram.nodeTemplate = $(
        go.Node,
        "Auto",
        {
          // // handle dragging a Node onto a Node to (maybe) change the reporting relationship
          // mouseDragEnter: function(e, node, prev) {
          //   var diagram = node.diagram;
          //   var selnode = diagram.selection.first();
          //   if (!mayWorkFor(selnode, node)) return;
          //   var shape = node.findObject("SHAPE");
          //   if (shape) {
          //     shape._prevFill = shape.fill; // remember the original brush
          //     shape.fill = "darkred";
          //   }
          // },
          // mouseDragLeave: function(e, node, next) {
          //   var shape = node.findObject("SHAPE");
          //   if (shape && shape._prevFill) {
          //     shape.fill = shape._prevFill; // restore the original brush
          //   }
          // },
          // mouseDrop: function(e, node) {
          //   var diagram = node.diagram;
          //   var selnode = diagram.selection.first(); // assume just one Node in selection
          //   if (mayWorkFor(selnode, node)) {
          //     // find any existing link into the selected node
          //     var link = selnode.findTreeParentLink();
          //     if (link !== null) {
          //       // reconnect any existing link
          //       link.fromNode = node;
          //     } else {
          //       // else create a new link
          //       diagram.toolManager.linkingTool.insertLink(
          //         node,
          //         node.port,
          //         selnode,
          //         selnode.port
          //       );
          //     }
          //   }
          // }
        },
        // for sorting, have the Node.text be the data.name
        // new go.Binding("text", "name"),
        // bind the Part.layerName to control the Node's layer depending on whether it isSelected
        new go.Binding("layerName", "isSelected", function (sel) {
          return sel ? "Foreground" : "";
        }).ofObject(),
        // define the node's outer shape
        $(go.Shape, "Rectangle", {
          name: "SHAPE",
          fill: "white",
          stroke: null,
          // set the port properties:
          portId: "",
          fromLinkable: true,
          toLinkable: true,
          cursor: "pointer"
        }),
        $(
          go.Panel,
          "Horizontal",

          $(
            go.Picture,
            {
              name: "Picture",
              desiredSize: new go.Size(150, 200),
              margin: new go.Margin(6, 8, 6, 10)
            },
            new go.Binding("source", "url")
          ),

          // define the panel where the text will appear
          $(
            go.Panel,
            "Table",
            {
              maxSize: new go.Size(200, 999),
              margin: new go.Margin(6, 10, 0, 3),
              defaultAlignment: go.Spot.Left
            },
            $(go.RowColumnDefinition, { column: 2, width: 4 }),
            $(
              go.TextBlock,
              textStyle(), // the name
              {
                row: 0,
                column: 0,
                columnSpan: 5,
                font: "12pt Segoe UI,sans-serif",
                editable: true,
                isMultiline: false,
                minSize: new go.Size(20, 16)
              },
              new go.Binding("text", "name").makeTwoWay()
            ),
            $(go.TextBlock, "Date: ", textStyle(), { row: 1, column: 0 }),
            $(
              go.TextBlock,
              textStyle(),
              {
                row: 1,
                column: 1,
                columnSpan: 4,
                editable: true,
                isMultiline: false,
                minSize: new go.Size(10, 14),
                margin: new go.Margin(0, 0, 0, 3)
              },
              new go.Binding("text", "first_release_date").makeTwoWay()
            ),
            // $(
            //   go.TextBlock,
            //   textStyle(),
            //   { row: 2, column: 0 },
            //   new go.Binding("text", "key", function(v) {
            //     return "ID: " + v;
            //   })
            // ),
            // $(
            //   go.TextBlock,
            //   textStyle(),
            //   { name: "boss", row: 2, column: 3 }, // we include a name so we can access this TextBlock when deleting Nodes/Links
            //   new go.Binding("text", "parent", function(v) {
            //     return "Boss: " + v;
            //   })
            // ),
            // $(
            //   go.TextBlock,
            //   textStyle(), // the comments
            //   {
            //     row: 3,
            //     column: 0,
            //     columnSpan: 5,
            //     font: "italic 9pt sans-serif",
            //     wrap: go.TextBlock.WrapFit,
            //     editable: true, // by default newlines are allowed
            //     minSize: new go.Size(10, 14)
            //   },
            //   new go.Binding("text", "comments").makeTwoWay()
            // )
          ) // end Table Panel
        ) // end Horizontal Panel
      ); // end Node

      // the context menu allows users to make a position vacant,
      // remove a role and reassign the subtree, or remove a department

      // define the Link template
      myDiagram.linkTemplate = $(
        go.Link,
        go.Link.Orthogonal,
        { corner: 5, relinkableFrom: true, relinkableTo: true },
        $(go.Shape, { strokeWidth: 4, stroke: "#00a4a4" })
      ); // the link shape

      myDiagram.model = model;
    }

    timeLine({{{json formatedResponse}}});

  </script>
</div>

