<div class="container">
  <h1>Favorite Game</h1>
  {{#each favorites}}

  <div class="row">
    <div class="col mx-auto">

      <div class="bg-white rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4" style="background-color: #333131;">
          <div class="media align-items-end profile-header">
            <div class="profile mr-3">
              <img id="cover-url" src="{{t_cover_big cover_url}}" class="rounded mb-2 img-thumbnail">
            </div>
            <div class="media-body mb-5 text-white">
              <h4 id="game-name" class="mt-0 mb-0 font-weight-bold">{{name}}</h4>
              <p id="release-date" class="small mb-4">{{toDate2 first_release_date}}</p>
            </div>
          </div>
        </div>

        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <a class="btn btn-success" href="/games/{{game_id}}">Details</a>
        </div>

        <div class="py-4">
          <h5 class="mb-3">Summary</h5>
          <div class="p-4 bg-light rounded shadow-sm">
            <p id="summary" class="font-italic mb-0">{{summary}}</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  {{/each}}
</div>
