<h1>Games detail</h1>
<div class="container">
  <div class="localgames-wrapper">

    <div class="localgames-item">
      <h2>{{game.name}}</h2>
      <img src="{{game.imgPath}}">
      <p>Genre:{{game.genre}}</p>
      <p>Serie:{{game.serie}}</p>
      <p>Publisher:{{game.publisher}}</p>
      <p>First release:{{toDate game.firstrelease}}</p>
      <p>Summary:{{game.summary}}</p>

      <div class="d-flex justify-content-between">
      <a class="btn btn-success" href="/updatelocalgame/{{game._id}}">Edit Game</a><br>
      <a class="btn btn-danger" href="/deletelocalgame/{{game._id}}">Delete</a><br>
      </div>
      <br>

      <a href="/localgames">Back to Local Games</a>
    </div>
  </div>
</div>