<h1>Local Games</h1>

<form action="/searchlocalgame" method="POST">
  <input type="text" name="searchbyname">
  <button type="submit">Search</button><br>

  <label for="genre">Genre: </label>
  <select name="searchbygenre" id="selectGenre">
  <option value="selectgenre">Select</option>
  <option value="adventure">Adventure</option>
  <option value="action">Action</option>
  <option value="fighting">Fighting</option>
  <option value="survivalhorror">Survival Horror</option>
  <option value="racing">Racing</option>
  <option value="sports">Sports</option>
  <option value="rythm">Rythm</option>
  <option value="puzzle">Puzzle</option>
  <option value="educational">Educational</option>
  <option value="serious">Serious</option>
  <option value="others">Others</option>
  </select><br>

  <label for="serie">Serie: </label>
  <select name="searchbyserie" id="selectSerie">
  <option value="selectserie">Select</option>
  <option value="mario">Mario</option>
  <option value="mariosonic">Mario/Sonic</option>
  <option value="pokemon">Pokémon</option>
  <option value="grandtheftauto">Grand Theft Auto</option>
  <option value="fifa">FIFA</option>
  <option value="callofduty">Call of Duty</option>
  <option value="wii">Wii</option>
  <option value="thesims">The Sims</option>
  <option value="sonic">Sonic</option>
  <option value="need">Need</option>
  <option value="forspeed">For Speed</option>
  <option value="finalfantasy">Final Fantasy</option>
  <option value="tetris">Tetris</option>
  <option value="thelegendofzelda">The Legend of Zelda</option>
  <option value="proevolutionsocce">Pro Evolution Socce</option>
  <option value="lego">Lego</option>
  <option value="others">Others</option>
  </select><br>
</form>

<div class="localgames-wrapper">
{{#each games}}
<div class="localgames-item">
<h1>{{name}}</h1>
<p><img src="{{imgPath}}" alt="yourgameimg"></p>
<p>Genre:{{genre}}</p>
<p>Serie:{{serie}}</p>
<p>Publisher:{{publisher}}</p>
<p>First release:{{toDate firstrelease}}</p>
<p>Summary:{{summary}}</p>
<a href="/detailslocalgame/{{_id}}">Deteils</a><br>
<a href="/updatelocalgame/{{_id}}">Edit Game</a><br>
<a href="/deletelocalgame/{{_id}}">Delete</a><br>

 </div>
  {{else}}
    <p>There are no games yet! :(</p>
  {{/each}}
</div>