<div class="edit">
<div class="container">
<h1>Edit Game</h1>

  <form action="/updatelocalgame/{{game._id}}" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <img src="{{game.imgPath}}">
    </div>

    <div class="form-group">
      <label for="photo">Image: </label>
      <input class="form-control-file form-control-sm" type="file" name="photo" id="photo" />
    </div>

    <div class="form-group">
      <label for="name">Name: </label>
      <input class="form-control" type="text" name="name" id="name" value="{{game.name}}" />
    </div>

    <div class="form-group">
      <label for="genre">Genre: </label>
      <select class="form-control" name="genre" id="selectGenre">
        <option selected>{{game.genre}}</option>
        <option value="adventure">Adventure</option>
        <option value="action">Action</option>
        <option value="fighting">Fighting</option>
        <option value="survivalhorror">Survival Horror</option>
        <option value="racing">Racing</option>
        <option value="sports">Sports</option>
        <option value="rythm">Rythm</option>
        <option value="puzzle">Puzzle</option>
        <option value="educational">Educational</option>
        <option value="serious">Serious</option>
        <option value="others">Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="serie">Serie: </label>
      <select class="form-control" name="serie" id="selectSerie">
        <option selected>{{game.serie}}</option>
        <option value="mario">Mario</option>
        <option value="mariosonic">Mario/Sonic</option>
        <option value="pokemon">Pokémon</option>
        <option value="grandtheftauto">Grand Theft Auto</option>
        <option value="fifa">FIFA</option>
        <option value="callofduty">Call of Duty</option>
        <option value="wii">Wii</option>
        <option value="thesims">The Sims</option>
        <option value="sonic">Sonic</option>
        <option value="need">Need</option>
        <option value="forspeed">For Speed</option>
        <option value="finalfantasy">Final Fantasy</option>
        <option value="tetris">Tetris</option>
        <option value="thelegendofzelda">The Legend of Zelda</option>
        <option value="proevolutionsocce">Pro Evolution Socce</option>
        <option value="lego">Lego</option>
        <option value="others">Others</option>
      </select>
    </div>

    <div class="form-group" <label for="publisher">Publishers: </label>
      <input class="form-control" type="text" name="publisher" id="publisher" value="{{game.publisher}}" />
    </div>

    <div class="form-group">
      <label for="firstrelease">First release: </label>
      <input class="form-control" type="date" name="firstrelease" id="firstrelease"
        value="{{toDate2 game.firstrelease}}" />
    </div>

    <div class="form-group">
      <label for="summary">Summary: </label>
      <textarea class="form-control" type="text" name="summary" id="summary">{{game.summary}}</textarea>
    </div>

    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" type="submit">Update</button><br>
      <a class="btn btn-danger" href="/localgames">Cancel</a>
    </div>
  </form>

</div>
</div>