<h1>Edit a new Game</h1>

 <form action="/updatelocalgame/{{game._id}}" method="post" enctype="multipart/form-data">

  <label for="photo">Image: </label>
  <input type="file" name="photo" id="photo" /><br>

  <label for="name"> </label>
  <input type="text" name="name" id="name" value="{{game.name}}" /><br>

<label for="genre">Genre: </label>
  <select name="genre" id="selectGenre">
  <option value="selectgenre">Select</option>
  <option value="adventure">Adventure</option>
  <option value="action">Action</option>
  <option value="fighting">Fighting</option>
  <option value="survivalhorror">Survival Horror</option>
  <option value="racing">Racing</option>
  <option value="sports">Sports</option>
  <option value="rythm">Rythm</option>
  <option value="puzzle">Puzzle</option>
  <option value="educational">Educational</option>
  <option value="serious">Serious</option>
  <option value="others">Others</option>
  </select><br>

  <label for="serie">Serie: </label>
  <select name="serie" id="selectSerie">
  <option value="selectserie">Select</option>
  <option value="mario">Mario</option>
  <option value="mariosonic">Mario/Sonic</option>
  <option value="pokemon">Pokémon</option>
  <option value="grandtheftauto">Grand Theft Auto</option>
  <option value="fifa">FIFA</option>
  <option value="callofduty">Call of Duty</option>
  <option value="wii">Wii</option>
  <option value="thesims">The Sims</option>
  <option value="sonic">Sonic</option>
  <option value="need">Need</option>
  <option value="forspeed">For Speed</option>
  <option value="finalfantasy">Final Fantasy</option>
  <option value="tetris">Tetris</option>
  <option value="thelegendofzelda">The Legend of Zelda</option>
  <option value="proevolutionsocce">Pro Evolution Socce</option>
  <option value="lego">Lego</option>
  <option value="others">Others</option>
  </select><br>

  <label for="publisher">Publishers: </label>
  <input type="text" name="publisher" id="publisher" value="{{game.publisher}}"/><br>

  <label for="firstrelease">First release: </label>
  <input type="date" name="firstrelease" id="firstrelease" value="{{game.firstrelease}}"/><br>

  <label for="summary">Summary: </label>
  <input type="text" name="summary" id="summary" value="{{game.summary}}"/><br>

  <button type="submit">Update</button><br>
  <a href="/localgames">Cancel</a>

</form>